* {
  font-family: "Inter", sans-serif;
  margin: 0;
}
/* common css */
.common-btn {
  background: #2563eb;
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 8px;
  cursor: pointer;
}
.outline-btn {
  background: #ffffff;
  color: #0d1b2a;
  border: 1px solid #0d1b2a;
  padding: 12px 24px;
  border-radius: 8px;
  cursor: pointer;
}
.blue-outline-btn {
  background: #ffffff;
  color: #2563eb;
  border: 1px solid #2563eb;
  padding: 12px 24px;
  border-radius: 8px;
  cursor: pointer;
}
/* nav css */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background: white;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
}
nav a {
  text-decoration: none;
  color: #575757;
}

/* header style */
.hero {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.5)),
    url("./assets/banner.jpg");
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  color: white;
}
.hero h1 {
  font-size: 80px;
  margin-bottom: 10px;
}
.hero p {
  font-size: 22px;
  margin-bottom: 170px;
}
.hero button {
  margin-top: 60px;
  font-size: 24px;
  font-weight: 600;
  padding: 20px 50px;
}

/* speaker css */
.speakers {
  padding: 80px 10%;
}
.speakers h2 {
  text-align: center;
  font-size: 56px;
  margin-bottom: 50px;
}
.speaker-grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
}
.card {
  border: 1px solid #ddd;
  border-radius: 10px;
  background: white;
  overflow: hidden;
}
.card img {
  width: 100%;
  object-fit: cover;
}
.card-info {
  padding: 20px;
}
.card-info span {
  color: #2563eb;
  font-size: 12px;
  font-weight: bold;
}
.card-info h3 {
  margin: 12px 0;
  font-size: 20px;
}
.card-info p {
  color: #575757;
  font-size: 14px;
  margin: 0;
}

/* price section css */
.pricing-section {
  padding: 70px 40px;
}
.heading {
  text-align: center;
  margin-bottom: 50px;
}
.heading h1 {
  font-size: 48px;
  margin-bottom: 15px;
}
.heading p {
  font-size: 16px;
  color: #575757;
}
.pricing-container {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.price-card {
  width: 370px;
  height: 440px;
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  padding: 32px;
  background: white;
}
.price-card.active {
  background: #0d1b2a;
}
.plan {
  color: #888888;
  font-size: 13px;
  font-style: semibold;
}
.plan.blue {
  color: #93c5fd;
}
.price-card h2 {
  font-size: 44px;
}
.small {
  font-size: 13px;
  color: #888888;
}
.price-card.active h2 {
  color: white;
}
hr {
  margin: 25px 0;
}
.features {
  margin-bottom: 25px;
  padding-left: 20px;
}
.features-active {
  margin-bottom: 25px;
  padding-left: 20px;
}
.features li {
  color: #333333;
  font-size: 14px;
  margin-bottom: 16px;
}
.features-active li {
  color: white;
  font-size: 14px;
  margin-bottom: 16px;
}
.pricing-container button {
  width: 100%;
  margin-top: 20px;
}
.features li::marker {
  color: #2563eb;
}
.features-active li::marker {
  color: #60a5fa;
}
/* footer css */
footer {
  background: #0d1b2a;
}
.footer-section {
  max-width: 1400px;
  margin: 0 auto;
}
.upper-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px 0 50px;
}
.right-icons a {
  color: #ffffff;
  text-decoration: none;
  margin-left: 20px;
}
.lower-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  color: #ffffff;
  padding-bottom: 20px;
}
.lower-footer p{
  opacity: 40%;
}
.footer-links a {
  text-decoration: none;
  color: #ffffff;
  padding-left: 30px;
  opacity: 40%;
}
.footer-section hr {
  border: 1px solid #ffffff;
  opacity: 20%;
  margin:10px 0;
}